<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>CFBundleIdentifier</key>
	<string>com.your-company.FUCounter_App</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard</string>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>XSLaunchImageAssets</key>
	<string>Resources/Images.xcassets/LaunchImage.launchimage</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-76@2x</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>ARTAS Counter</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
</dict>
</plist>
